<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead>

      </thead>
      <tbody>
        <tr>
          <form action="/<%=dataCity.id%>/add" method="post">
            <td><input type="text" name="first_name" value="<%dataCostumer.first_name%>" placeholder="Email"></td>
            <td><input type="text" name="last_name" value="<%dataCostumer.last_name%>" placeholder="Last Name"></td>
            <td><input type="text" name="email" value="<%dataCostumer.email%>" placeholder="Email"></td>
            <td><input type="text" name="no_telp" value="<%dataCostumer.no_telp%>"placeholder="No Telephone"></td>
          </form>
        </tr>
      </tbody>
    </table>
  </body>
</html>
