<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>TRAVELOKA UNYU</h2>
    <h3>Liburan Dulu Kerja Kemudian</h3>
    <table>
      <thead>
        <form action="/add" method="post">
          <select name="city">
            <%dataCity.forEach(data=>{%>
              <option value="<%=data.city%>"><%=data.city%></option>
              <%})%>
            </select>
            <select name="city">
              <%dataCity.forEach(data=>{%>
                <option value="<%=data.city%>"><%=data.date_departure%></option>
                <%})%>
              </select>
              <input type="submit" value="submit">
        </form>
      </thead>
      <tbody>
      </tbody>
    </table>

  </body>
</html>
