<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/font-awesome/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/jquery-ui.css">

  </head>
  <body>

  <div class="content">
    <div class="container">
      <div class="wizard" id="myWizard">
        <section>
          <h4 class="page-title text-center">Naik Gratis Turun Bayar</h4>
        </section>
        <div class="wizard__progress">
          <ul class="wizard__labels nav nav-tabs">
            <li style="width:25%;" class="col-xs-12 active">
              <a href="#create-assignment" data-toggle="tab" data-step="1">
                <i class="fa fa-folder-open wizard__icon"></i> Flight</a>
            </li>
            <li style="width:25%;" class="col-xs-12 ">
              <a href="#data-person" data-toggle="tab" data-step="2">
                <i class="fa fa-user wizard__icon"></i> Data Person</a>
            </li>
            <li style="width:25%;" class="col-xs-12 ">
              <a href="#data-booking" data-toggle="tab" data-step="3">
                <i class="fa fa-list-alt wizard__icon"></i> Data Booking</a>
            </li>
            <li style="width:25%;" class="col-xs-12 " id="lastli">
              <a href="#validate" data-toggle="tab" data-step="4">
                <i class="fa fa-check wizard__icon"></i> Validate
              </a>
            </li>
          </ul>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 25%;"> </div>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="create-assignment">

            <section>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" for="name--first"> Flight Destination</label>
                    <select name="cityDestination" class="form-control" id="cityDestination">
                      <option value=""> - City - </option>
                      <option value="1">1</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" for="name--first"> Date of Flight</label>
                    <input type="text" class="form-control input-sm" id="datepicker" placeholder="Date of Flight">
                  </div>
                </div>
                <!-- / end col -->
              </div>
            </section>
            <section class="text-right">
              <button type="button" class="btn btn-primary btn-sm next" disabled id="continue">Continue</button>
            </section>

          </div>
          <div class="tab-pane fade" id="data-person">
            <section>

              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" for="nid-type">First Name </label>
                    <input type="text" class="form-control" name="first_name" id="fn" placeholder="Your First Name">
                  </div>
                </div>
                <!-- / end col -->


                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" for="nid-country">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="ln" placeholder="Your Last Name">
                  </div>
                </div>


                <div class="col-sm-6">
                  <!-- ================= country ================= -->
                  <div class="form-group">
                    <label class="control-label" for="birth-country">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Your Email Address">
                  </div>
                </div>
                <!-- / end col -->


                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" for="marital-status">Phone </label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone Number">
                  </div>
                </div>
                <!-- / end col -->


              </div>
              <!-- / end row -->


            </section>
            <section class="text-right">
              <button type="button" class="btn btn-primary btn-sm next" disabled id="enter-submit">Continue</button>
            </section>
          </div>

          <div class="tab-pane fade" id="data-booking">
            <section>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="">
                      Flight To
                    </label>
                    <p>Semarang</p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="">
                      Date Flight
                    </label>
                    <p>Rabu, 11 Oktober 2017</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h3>Data Passenger</h3>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="" class="control-label">Name</label>
                    <p>Widya Magda</p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="" class="control-label">Email</label>
                    <p>widya@gmail.com</p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="" class="control-label">Phone</label>
                    <p>0987654321</p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="" class="control-label">No. Booking</label>
                    <p>876AJB</p>
                  </div>
                </div>
              </div>
            </section>
            <section class="text-right">
              <button type="button" class="btn btn-primary btn-sm next" id="enter-continue">Continue</button>
            </section>
          </div>

          <div class="tab-pane fade" id="validate">
            <section>
              <div class="alerts--child alerts--success">
                <div class="alerts__icon">
                  <i class="fa fa-check"></i>
                </div>
                <div class="alerts__text">
                  <span class="alerts__type">Success: </span>You've created an assignment!
                </div>

              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/formjs.js"></script>
    <script>
      $(function(){
        $( "#datepicker" ).datepicker();
      })
    </script>
  </body>
</html>
